.search__input {
  font-family: inherit;
  box-sizing: border-box;
  max-width: 1086px;
  width: 100%;
  margin: 0;
  padding: 16px 0 16px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  background-color: #222222;
  border: none;
  border-radius: 8px;
  color: #ffffff;
}

.search__input:focus {
  outline: none;
  border: 2px solid #ee3465;
}

.search__input::placeholder {
  color: #8b8b8b;
}

@media screen and (max-width: 767px) {
  .search__input {
    padding: 12px 0 13px 13px;
    line-height: 1.4;
  }
}
