.page {
  min-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  flex: auto;
  min-height: 100vh;
  background-color: #202020;
  color: #ffffff;
}
