.navigation__list {
  list-style: none;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 75.6vh;
  padding: 0;
  margin: 161px 0 90px;
}

@media screen and (max-width: 767px) {
  .navigation__list {
    margin: 146px auto 70px;
    gap: 26px;
  }
}
