.profile__form {
  margin: 108px 0 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .profile__form {
    margin-top: 81px;
  }
}

@media screen and (max-width: 767px) {
  .profile__form {
    margin-top: 65px;
  }
}
