.films__list {
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 233px);
  row-gap: 57.5px;
  column-gap: 30px;
  padding: 0;
  max-height: 1104.5px;
  justify-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .films__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 45px;
    max-height: 1067px;
  }
}

@media screen and (max-width: 767px) {
  .films__list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 202px);
    row-gap: 36px;
    max-height: 1154px;
  }
}
