.search {
  max-width: 1140px;
  width: 89%;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .search {
    width: 92.18%;
  }
}

@media screen and (max-width: 767px) {
  .search {
    width: 91.25%;
  }
}
