.student__subtitle {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -1px;
}

@media screen and (max-width: 1024px) {
  .student__subtitle {
    font-size: 40px;
    line-height: 1;
  }
}

@media screen and (max-width: 767px) {
  .student__subtitle {
    font-size: 30px;
    margin-top: 43px;
  }
}
