.portfolio__title {
  color: #8b8b8b;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
}

@media screen and (max-width: 767px) {
  .portfolio__title {
    font-size: 14px;
    line-height: 1.4;
  }
}
